.header {
    background-color: white;
    padding: 20px;
   
}

.header-box {
    width: 69%;
    margin: 0 auto;
    padding: 2px;
    background-color: rgba(255, 0, 0, 0.267);
    text-align: left;
    float: left;
}

.header h1 {
    margin: 0 auto;
}
